@import "./main.scss";

.content-main {
    position: relative;
    margin: 30px 30px 0px 15px;
    padding: 30px 45px;
    background: #ffffff;
    width: 100%;
    text-align: justify;
    span {
        font-weight: bold;
        font-size: 14px;
    }
}
