// fonts
$font-family: "Roboto", sans-serif;

//colors
$color-main: #563d7c;
$texto: #333;
$background-color: #f7f7f9;
$error-color: #ff0000;
$success-color: #04AA6D;

//others
$border-table: #dee2e6;
$menu-inactive: #cbbde2;
